@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@font-face {
  font-family: Gotham;
  src: url(../font/Gotham-Narrow-Font-Family/GothamNarrow-Medium.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $nav-text-color;
}

a:hover {
  color: $nav-text-color;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.mc-page {
  height: 2000px;
}
