@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;400;500;700&display=swap");
@font-face {
  font-family: Gotham;
  src: url(../font/Gotham-Narrow-Font-Family/GothamNarrow-Medium.otf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #00285e;
}

a:hover {
  color: #00285e;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .swiper {
    overflow: visible !important;
  }
}

.mc-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.mc-header--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.mc-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: #98c5e9;
  min-height: 96px;
}

@media only screen and (max-width: 768px) {
  .mc-header__wrapper {
    min-height: 64px;
  }
}

.mc-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 64rem;
  width: 100%;
  padding: 0 1.5rem;
}

@media only screen and (max-width: 1024px) {
  .mc-header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .mc-header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: unset;
  }
}

.mc-header__logo {
  height: 71px;
}

@media only screen and (max-width: 1024px) {
  .mc-header__logo {
    height: unset;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media only screen and (max-width: 768px) {
  .mc-header__logo {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
}

.mc-header__logo-img {
  width: 67px;
  height: 67px;
}

@media only screen and (max-width: 1024px) {
  .mc-header__logo-img {
    width: 81px;
    height: 81px;
  }
}

@media only screen and (max-width: 768px) {
  .mc-header__logo-img {
    width: 56px;
    height: 56px;
  }
}

.mc-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 620px;
  height: 100%;
  margin-left: 12px;
}

@media only screen and (max-width: 1024px) {
  .mc-header__nav {
    margin-top: 16px;
    margin-left: unset;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .mc-header__nav::before {
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #6caddf;
  }
}

@media only screen and (max-width: 768px) {
  .mc-header__nav {
    display: none;
  }
}

.mc-header__secondary-nav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 1024px) {
  .mc-header__secondary-nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: -28px;
  }
}

@media only screen and (max-width: 768px) {
  .mc-header__secondary-nav {
    margin-bottom: unset;
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
}

.mc-header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mc-header-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 48px;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0;
          flex: 0 0;
  margin-left: 15px;
}

.mc-header-nav__item:first-child {
  margin-left: 0;
}

.mc-header-nav__link {
  font-family: Gotham, sans-serif;
  letter-spacing: 0.4px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #00285e;
  text-decoration: none;
}

.mc-header-nav__link:hover {
  color: #00285e;
  text-decoration: underline;
  -webkit-text-decoration-color: #00285e;
          text-decoration-color: #00285e;
}

.mc-header-nav__fly-out {
  position: relative;
  cursor: pointer;
  padding-bottom: 16px;
  margin-bottom: -16px;
}

@media only screen and (max-width: 1024px) {
  .mc-header-nav__fly-out {
    padding-bottom: unset;
    margin-bottom: unset;
    padding-right: 20px;
  }
}

.mc-header-nav__fly-out:hover > .mc-header-fly-out__drop-down {
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 1024px) {
  .mc-header-nav__fly-out:hover > .mc-header-fly-out__trigger > .mc-header-fly-out__chevron {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

.mc-header-fly-out__trigger {
  position: relative;
}

.mc-header-fly-out__trigger:hover {
  text-decoration: none;
}

.mc-header-fly-out__chevron {
  position: absolute;
  top: calc(100% + 16px);
  right: auto;
  left: calc(50% - 8px);
  margin-top: -10px;
  font-size: 13px;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

@media only screen and (max-width: 1024px) {
  .mc-header-fly-out__chevron {
    top: calc(50% + 4px);
    left: calc(100% + 8px);
  }
}

.mc-header-fly-out__drop-down {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: calc(100% - 4px);
  left: calc(50% - 100px);
  width: 200px;
  -webkit-box-shadow: 0 8px 20px 0 rgba(2, 40, 94, 0.3);
          box-shadow: 0 8px 20px 0 rgba(2, 40, 94, 0.3);
  border: 1px solid #00285e;
  background: #fff;
  cursor: auto;
  z-index: 1;
  padding: 24px 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.mc-header-fly-out__sub-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mc-header-fly-out__sub-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 47px;
}

.mc-header-fly-out__sub-item:hover {
  background: #72e9ff;
}

.mc-header-fly-out__sub-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #00285e;
}

.mc-header-secondary-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Gotham, sans-serif;
  font-size: 16px;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}

.mc-header-secondary-nav__item {
  position: relative;
  margin-left: 28px;
}

.mc-header-secondary-nav__item:first-child {
  margin-left: 0;
}

.mc-header-secondary-nav__item::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 24px;
  top: 50%;
  margin-top: -12px;
  left: -14px;
  background-color: #6caddf;
}

@media only screen and (max-width: 575.5px) {
  .mc-header-secondary-nav__choose-lang {
    display: none;
  }
}

.mc-header-secondary-nav__choose-lang::before {
  content: none;
}

.mc-header-secondary-nav__mobile-nav {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mc-header-secondary-nav__mobile-nav {
    display: block;
  }
}

.mc-header-locate-selector {
  background: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00285e;
  cursor: pointer;
}

.mc-header-locate-selector:focus {
  outline: none;
}

.mc-header-locate-selector__icon {
  padding-right: 5px;
}

.mc-header-locate-selector__text {
  margin-left: 1px;
  font-size: 15px;
  font-weight: 300px;
  text-transform: uppercase;
}

.mc-header-log-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00285e;
}

.mc-header-log-in:hover {
  text-decoration: none;
}

.mc-header-log-in__text {
  max-width: 150px;
  text-transform: uppercase;
  margin-right: 8px;
  font-size: 15px;
  font-weight: 400;
}

.mc-header-log-in__user-icon {
  font-size: 25px;
}

.mc-header-open-menu {
  background: transparent;
  border: none;
  cursor: pointer;
}

.mc-header-open-menu:focus {
  outline: none;
}

.mc-header-open-menu__icon {
  color: #00285e;
  font-size: 24px;
}

.mc-header-open-menu__icon:hover {
  color: #fff;
}

.mc-mobile-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  padding: 17px 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  color: #fff;
  background-color: #0f2840;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .mc-mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mc-mobile-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mc-mobile-menu__heading {
  font-family: Gotham, sans-serif;
  color: #98c5e9;
  font-size: 14px;
  font-weight: 700;
}

.mc-mobile-menu__link {
  color: #98c5e9;
  text-decoration: none;
}

.mc-mobile-menu__link:hover {
  color: #98c5e9;
  text-decoration: underline;
  -webkit-text-decoration-color: #98c5e9;
          text-decoration-color: #98c5e9;
}

.mc-mobile-menu__close {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  font-size: 30px;
}

.mc-mobile-menu__close:focus {
  outline: none;
}

.mc-mobile-menu__close:hover {
  color: #98c5e9;
}

.mc-mobile-menu__nav {
  height: 100%;
  margin-top: 1px;
  overflow-y: auto;
}

.mc-mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mc-mobile-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 44px;
  font-family: Gotham, sans-serif;
}

.mc-mobile-menu__item:not(:last-child) {
  border-bottom: 1px solid #98c5e9;
}

.mc-mobile-menu__link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  color: #fff;
  text-decoration: none;
}

.mc-mobile-menu__link-item:hover {
  color: #fff;
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
}

.mc-mobile-menu__text {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mc-main-content {
  padding-top: 40px;
}

@media only screen and (max-width: 768px) {
  .mc-main-content {
    padding-top: unset;
  }
}

.home-section__header {
  margin-bottom: 18px;
}

@media only screen and (max-width: 1024px) {
  .home-section__header {
    margin-bottom: 13px;
  }
}

.home-section__content {
  margin-top: 40px;
}

@media only screen and (max-width: 575.5px) {
  .home-section__content {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 991.5px) {
  .home-section__content > aside {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .home-section__content > aside + div {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.home-section__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-section__footer {
  margin: 32px 0;
}

.home-section__footer--explore {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-section__footer--explore::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #00285e;
  left: 0;
  right: 0;
  top: calc(50% - 1px);
}

.super-banner {
  margin-top: 0;
  background-color: #00285e;
}

@media only screen and (max-width: 768px) {
  .super-banner {
    margin: 0 -1rem;
  }
}

.super-banner:hover .super-banner__heading {
  text-decoration: underline;
  -webkit-text-decoration-color: #72e9ff;
          text-decoration-color: #72e9ff;
}

.super-banner:hover .super-banner__image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.super-banner__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 365px;
}

@media only screen and (max-width: 768px) {
  .super-banner__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    min-height: unset;
  }
}

@media only screen and (max-width: 1024px) {
  .super-banner__link {
    min-height: 267px;
  }
}

.super-banner__main {
  padding: 22px 20px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-transform: uppercase;
  font-weight: 700;
  width: 331px;
}

@media only screen and (max-width: 1024px) {
  .super-banner__main {
    width: 245px;
    padding: 22px 16px;
    min-height: 350px;
  }
}

@media only screen and (max-width: 575.5px) {
  .super-banner__main {
    min-height: unset;
  }
}

@media only screen and (max-width: 768px) {
  .super-banner__main {
    padding: 12px 16px 18px;
    width: 100%;
    min-height: 120px;
  }
}

.super-banner__pre-heading {
  font-style: 16px;
  color: #72e9ff;
  margin-bottom: 8px;
}

@media only screen and (max-width: 768px) {
  .super-banner__pre-heading {
    font-size: 14px;
  }
}

.super-banner__heading {
  font-family: Gotham, sans-serif;
  font-size: 34px;
  line-height: 1.08;
  font-weight: bold;
  line-height: break-word;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .super-banner__heading {
    font-size: 24px;
  }
}

.super-banner__aside {
  width: 100%;
}

.super-banner__wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .super-banner__wrapper {
    padding-top: 56.25%;
  }
}

.super-banner__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.featured-news-list__item {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-card {
  width: 100%;
}

.news-card:hover .news-card__heading {
  text-decoration: underline;
}

.news-card:hover .news-card__wrapper {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (max-width: 575.5px) {
  .news-card {
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
  }
}

.news-card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

@media only screen and (max-width: 575.5px) {
  .news-card__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.news-card__figure {
  margin-bottom: 11px;
}

@media only screen and (max-width: 575.5px) {
  .news-card__figure {
    width: 102px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 12px;
  }
}

.news-card__figure-content {
  position: relative;
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.news-card__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.news-card__title {
  letter-spacing: 0.3px;
  font-family: Arial, Helvetica, sans-serif;
}

.news-card__heading {
  font-size: 18px;
  margin-bottom: 8px;
  line-height: 1.13;
  color: #2f3133;
  font-weight: 700;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 575.5px) {
  .news-card__heading {
    font-size: 16px;
  }
}

.news-card__category {
  font-size: 13px;
  text-transform: uppercase;
  color: #696b6d;
  font-weight: 300;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 575.5px) {
  .news-card__category {
    font-size: 12px;
  }
}

.mc-fixture {
  border-top: 3px solid #72e9ff !important;
  width: 100%;
  border: 1px solid #dedede;
  padding: 21px 17px 17px;
  margin-bottom: 20px;
}

.mc-fixture__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mc-fixture__header__heading {
  width: 50%;
  color: #696b6d;
  font-size: 13px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
}

.mc-fixture__header__link {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00285e;
  font-weight: 700;
}

.mc-fixture__header__text {
  text-decoration: underline;
}

.mc-fixture__header__text:hover {
  text-decoration: none;
}

.mc-fixture__header__icon {
  padding-left: 5px;
}

.mc-fixture__info {
  text-align: center;
  margin-top: 15px;
}

.mc-fixture__info__date {
  font-size: 14px;
  font-weight: 700;
}

.mc-fixture__info__league {
  margin-top: 3px;
  font-size: 13px;
}

.mc-fixture__match {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mc-fixture__match__first-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.mc-fixture__match__logo {
  max-width: 52px;
  min-height: 52px;
}

.mc-fixture__match__team {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

@media only screen and (max-width: 575.5px) {
  .mc-fixture__match__team {
    font-size: 14px;
    margin-top: 5px;
  }
}

.mc-fixture__match__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  background-color: #ededed;
  height: 40px;
}

.mc-fixture__match__time-start {
  font-size: 16px;
  font-weight: bold;
}

.mc-fixture__match__time-locate {
  font-size: 12px;
  color: #696b6d;
  margin-top: -1px;
  font-weight: 700;
}

.mc-fixture__footer {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mc-result {
  width: 100%;
  border: 1px solid #dedede;
  padding: 21px 17px 17px;
  margin-bottom: 20px;
}

.mc-result__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mc-result__header__heading {
  width: 50%;
  color: #696b6d;
  font-size: 13px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
}

.mc-result__header__link {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00285e;
  font-weight: 700;
}

.mc-result__header__text {
  text-decoration: underline;
}

.mc-result__header__text:hover {
  text-decoration: none;
}

.mc-result__header__icon {
  padding-left: 5px;
}

.mc-result__info {
  text-align: center;
  margin-top: 15px;
}

.mc-result__info__date {
  font-size: 14px;
  font-weight: 700;
}

.mc-result__info__league {
  margin-top: 3px;
  font-size: 13px;
}

.mc-result__match {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mc-result__match__first-team {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.mc-result__match__team {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 575.5px) {
  .mc-result__match__team {
    font-size: 14px;
    margin-top: 5px;
  }
}

.mc-result__match__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mc-result__match__score {
  font-family: Gotham, sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #696b6d;
  font-size: 24px;
  min-width: 36px;
  margin: 2px 1px;
  text-align: center;
}

.mc-result__footer {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 991.5px) {
  .mc-result__footer {
    margin-top: 64px;
  }
}

.mc-button {
  display: block;
  min-height: 40px;
  padding: 12px 12px 13px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .mc-button {
    font-size: 13px;
  }
}

@media only screen and (max-width: 337px) {
  .mc-button {
    height: 40px;
  }
}

.mc-button--secondary {
  width: 100%;
  color: #00285e;
  background-color: #fff;
  border: 1px solid #00285e;
  margin-right: 8px;
}

.mc-button--secondary:hover {
  background-color: #f2f2f2;
}

.mc-button--yellow {
  width: 100%;
  color: #00285e;
  background-color: #f4bc46;
  border: 1px solid #f4bc46;
}

.mc-button--yellow:hover {
  background-color: #f7cd76;
}

.mc-button--secondary-result {
  width: 100%;
  color: #00285e;
  background-color: #fff;
  border: 1px solid #00285e;
}

.mc-button--secondary-result:hover {
  background-color: #f2f2f2;
}

.mc-button--explore {
  min-width: 229px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 11px;
  color: #00285e;
  background-color: #fff;
  border: 1px solid #00285e;
}

.mc-button--explore:hover {
  background-color: #f2f2f2;
}

@media only screen and (max-width: 337px) {
  .mc-button__text {
    display: block;
    -webkit-transform: translateY(-28%);
            transform: translateY(-28%);
  }
}

.mc-modal-active {
  display: block !important;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mc-modal-login {
  display: none;
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.mc-modal-login__content {
  position: relative;
  background-color: #fff;
  margin: auto;
  max-width: 510px;
  min-height: 300px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 20px 40px 30px;
  -webkit-box-shadow: 2px 4px 9px 0 rgba(0, 40, 94, 0.2);
          box-shadow: 2px 4px 9px 0 rgba(0, 40, 94, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fadeOut 0.5s;
          animation: fadeOut 0.5s;
}

.mc-modal-login__close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.mc-modal-login__close:focus {
  outline: none;
}

.mc-modal-login__close__icon {
  font-size: 20px;
  color: #00285e;
}

.mc-modal-login__close__icon:hover {
  color: #72e9ff;
}

.mc-modal-login__title {
  font-family: Gotham, sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #00285e;
  padding: 20px 0;
}

.mc-modal-login__form {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mc-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.mc-form__group label {
  min-width: 100px;
  color: #696b6d;
  font-size: 16px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.mc-form__input {
  border: none;
  border-bottom: 2px solid #dedede;
  border-radius: 0;
}

.mc-form__input:hover,
.mc-form__input :focus {
  border-color: #98c5e9;
  outline: none;
}

.mc-form__link {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: #00285e;
  padding: 20px 0;
}

.mc-form__button {
  display: block;
  min-height: 40px;
  padding: 12px 12px 13px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #00285e;
  color: #fff;
  border: none;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .mc-form__button {
    font-size: 13px;
  }
}

@media only screen and (max-width: 337px) {
  .mc-form__button {
    height: 40px;
  }
}

.mc-form__button:hover {
  background-color: #003e91;
}

.mc-footer {
  background-color: #98c5e9;
  color: #00285e;
  padding: 50px 70px 20px;
}

@media only screen and (max-width: 1024px) {
  .mc-footer {
    padding: 20px 30px;
  }
}

.mc-footer__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media only screen and (max-width: 1024px) {
  .mc-footer__main {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto (1fr)[2];
        grid-template-rows: auto repeat(2, 1fr);
    row-gap: 10px;
  }
}

.mc-footer__social {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 1024px) {
  .mc-footer__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mc-footer__social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mc-footer__social__item {
  cursor: pointer;
  padding-right: 15px;
}

.mc-footer__social__icon {
  color: #fff;
  font-size: 25px;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}

.mc-footer__social__icon:hover {
  color: #00285e;
}

@media only screen and (max-width: 1024px) {
  .mc-footer__social__icon {
    font-size: 20px;
  }
}

.mc-footer__logo {
  width: 81px;
  height: 81px;
}

.mc-footer__title {
  font-family: Gotham, sans-serif;
  font-size: 25px;
  font-weight: 700;
  padding-top: 20px;
}

@media only screen and (max-width: 1024px) {
  .mc-footer__title {
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
}

.mc-footer__description {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.mc-footer__policy, .mc-footer__support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.mc-footer__policy__title, .mc-footer__support__title {
  font-family: Gotham, sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
  .mc-footer__policy__title, .mc-footer__support__title {
    font-size: 20px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .mc-footer__policy__list, .mc-footer__support__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.mc-footer__policy__link, .mc-footer__support__link {
  color: #00285e;
  text-decoration: none;
}

.mc-footer__policy__link:hover, .mc-footer__support__link:hover {
  color: #00285e;
  text-decoration: underline;
  -webkit-text-decoration-color: #00285e;
          text-decoration-color: #00285e;
}

.mc-footer__policy__text, .mc-footer__support__text {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.mc-footer__copyright {
  text-align: center;
  margin-top: 30px;
}

.mc-footer__copyright__text {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #696b6d;
}

.mc-modal-roster {
  display: none;
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.mc-modal-roster__content {
  padding: 20px 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fadeOut 0.5s;
          animation: fadeOut 0.5s;
  background-image: url("../images/foden.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

.mc-modal-roster__bg {
  background-image: -webkit-gradient(linear, left top, right top, from(#4798d7), color-stop(#55a0da), color-stop(#69abdd), color-stop(#8bbfe6), to(#8bbfe6));
  background-image: linear-gradient(to right, #4798d7, #55a0da, #69abdd, #8bbfe6, #8bbfe6);
  position: relative;
  margin: auto;
  max-width: 580px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 2px 4px 9px 0 rgba(0, 40, 94, 0.2);
          box-shadow: 2px 4px 9px 0 rgba(0, 40, 94, 0.2);
}

.mc-modal-roster__close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.mc-modal-roster__close:focus {
  outline: none;
}

.mc-modal-roster__close__icon {
  font-size: 20px;
  color: #00285e;
}

.mc-modal-roster__close__icon:hover {
  color: #fefefd;
}

.mc-modal-roster__title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 35px;
}

.mc-modal-roster__title span {
  position: absolute;
  top: 50%;
  margin-left: -16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: transparent;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #fefefd;
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
}

.mc-modal-roster__list {
  margin: 10px 0 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #8fc8f1;
}

.mc-modal-roster__player {
  text-transform: uppercase;
  font-size: 20px;
  color: #fefefd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1.3;
}

.mc-modal-roster__number {
  font-size: 14px;
  padding-right: 10px;
  width: 40px;
  display: inline-block;
}

.mc-modal-roster__subs-title {
  text-transform: uppercase;
  color: #fefefd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}

.mc-modal-roster__subs-list {
  max-width: 50%;
  text-transform: uppercase;
  color: #fefefd;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

@media only screen and (max-width: 575.5px) {
  .mc-modal-roster__subs-list {
    max-width: 100%;
  }
}

.mc-modal-roster__bench {
  word-wrap: break-word;
}

.mc-modal-roster__logo {
  margin-top: auto;
  margin-bottom: 0;
}

.mc-modal-roster__logo-image {
  width: 40px;
  height: 40px;
}
