.mc-main-content {
  padding-top: 40px;
  @include mobile {
    padding-top: unset;
  }
}

.home-section {
  &__header {
    margin-bottom: 18px;
    @include tablet {
      margin-bottom: 13px;
    }
  }

  &__content {
    margin-top: 40px;
    @include small-mobile {
      margin-top: 30px;
    }
  }

  &__content > aside {
    @include tablet-md {
      order: 2;
      + div {
        order: 1;
      }
    }
  }

  &__aside {
    display: flex;
  }

  &__footer {
    margin: 32px 0;
    &--explore {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $nav-text-color;
        left: 0;
        right: 0;
        top: calc(50% - 1px);
      }
    }
  }
}

.super-banner {
  // box-shadow: 0 8px 16px 0 rgba(1, 40, 94, 0.2);
  margin-top: 0;
  background-color: $nav-text-color;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: calc(100% - 30px);
  //   transform: translateX(15px);
  //   height: 100%;
  //   z-index: -1;
  //   opacity: 1;
  //   // box-shadow: 0 8px 16px 0 rgba(0, 40, 94, 0.3);
  //   transition: opacity 0.2s ease-in-out;
  // }

  &:hover {
    .super-banner__heading {
      text-decoration: underline;
      text-decoration-color: $bg-color;
    }
    .super-banner__image {
      transform: scale(1.1);
    }
    // &::before {
    //   opacity: 0;
    // }
  }

  &__link {
    display: flex;
    min-height: 365px;

    @include mobile {
      flex-direction: column-reverse;
      min-height: unset;
    }

    @include tablet {
      min-height: 267px;
    }
  }

  &__main {
    padding: 22px 20px 24px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    text-transform: uppercase;
    font-weight: 700;
    width: 331px;

    @include tablet {
      width: 245px;
      padding: 22px 16px;
      min-height: 350px;
    }
    @include small-mobile {
      min-height: unset;
    }
    @include mobile {
      padding: 12px 16px 18px;
      width: 100%;
      min-height: 120px;
    }
  }

  &__pre-heading {
    font-style: 16px;
    color: $bg-color;
    margin-bottom: 8px;
    @include mobile {
      font-size: 14px;
    }
  }

  &__heading {
    font-family: Gotham, sans-serif;
    font-size: 34px;
    line-height: 1.08;
    font-weight: bold;
    line-height: break-word;
    color: #fff;
    @include mobile {
      font-size: 24px;
    }
  }

  &__aside {
    width: 100%;
  }

  &__wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;

    @include mobile {
      padding-top: 56.25%;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
}

.featured-news-list {
  &__item {
    margin-bottom: 24px;
    display: flex;
  }
}

.news-card {
  width: 100%;

  &:hover {
    .news-card__heading {
      text-decoration: underline;
    }
    .news-card__wrapper {
      transform: scale(1.1);
    }
  }

  @include small-mobile {
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
  }

  &__container {
    display: flex;
    flex-direction: column;
    text-decoration: none;

    @include small-mobile {
      flex-direction: row;
    }
  }

  &__figure {
    margin-bottom: 11px;

    @include small-mobile {
      width: 102px;
      flex-shrink: 0;
      margin-right: 12px;
    }
  }

  &__figure-content {
    position: relative;
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: transform 0.2s;
  }

  &__title {
    letter-spacing: 0.3px;
    font-family: Arial, Helvetica, sans-serif;
  }

  &__heading {
    font-size: 18px;
    margin-bottom: 8px;
    line-height: 1.13;
    color: $title-color;
    font-weight: 700;
    @include textHandle;
    @include small-mobile {
      font-size: 16px;
    }
  }

  &__category {
    font-size: 13px;
    text-transform: uppercase;
    color: #696b6d;
    font-weight: 300;
    @include textHandle;
    @include small-mobile {
      font-size: 12px;
    }
  }
}

.mc-fixture {
  border-top: 3px solid #72e9ff !important;
  width: 100%;
  border: 1px solid #dedede;
  padding: 21px 17px 17px;
  margin-bottom: 20px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__heading {
      width: 50%;
      color: $text-color;
      font-size: 13px;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      margin: 0;
    }

    &__link {
      font-size: 13px;
      display: flex;
      align-items: center;
      color: $nav-text-color;
      font-weight: 700;
    }

    &__text {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }

    &__icon {
      padding-left: 5px;
    }
  }

  &__info {
    text-align: center;
    margin-top: 15px;

    &__date {
      font-size: 14px;
      font-weight: 700;
    }

    &__league {
      margin-top: 3px;
      font-size: 13px;
    }
  }

  &__match {
    margin-top: 14px;
    display: flex;
    justify-content: space-around;

    &__first-team {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 0;
    }

    &__logo {
      max-width: 52px;
      min-height: 52px;
    }

    &__team {
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      @include small-mobile {
        font-size: 14px;
        margin-top: 5px;
      }
    }

    &__time {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 0;
      background-color: #ededed;
      height: 40px;
    }

    &__time-start {
      font-size: 16px;
      font-weight: bold;
    }

    &__time-locate {
      font-size: 12px;
      color: $text-color;
      margin-top: -1px;
      font-weight: 700;
    }
  }

  &__footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.mc-result {
  width: 100%;
  border: 1px solid #dedede;
  padding: 21px 17px 17px;
  margin-bottom: 20px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__heading {
      width: 50%;
      color: $text-color;
      font-size: 13px;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      margin: 0;
    }

    &__link {
      font-size: 13px;
      display: flex;
      align-items: center;
      color: $nav-text-color;
      font-weight: 700;
    }

    &__text {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }

    &__icon {
      padding-left: 5px;
    }
  }

  &__info {
    text-align: center;
    margin-top: 15px;

    &__date {
      font-size: 14px;
      font-weight: 700;
    }

    &__league {
      margin-top: 3px;
      font-size: 13px;
    }
  }

  &__match {
    margin-top: 14px;
    display: flex;
    align-items: center;

    &__first-team {
      flex: 1 0;
    }

    &__team {
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      margin: 0;

      @include small-mobile {
        font-size: 14px;
        margin-top: 5px;
      }
    }

    &__table {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__score {
      font-family: Gotham, sans-serif;
      font-weight: 700;
      color: #fff;
      background-color: $text-color;
      font-size: 24px;
      min-width: 36px;
      margin: 2px 1px;
      text-align: center;
    }
  }

  &__footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet-md {
      margin-top: 64px;
    }
  }
}

.mc-button {
  @include button;

  &--secondary {
    width: 100%;
    color: $nav-text-color;
    background-color: #fff;
    border: 1px solid $nav-text-color;
    margin-right: 8px;
    &:hover {
      background-color: #f2f2f2;
    }
  }

  &--yellow {
    width: 100%;
    color: $nav-text-color;
    background-color: #f4bc46;
    border: 1px solid #f4bc46;
    &:hover {
      background-color: #f7cd76;
    }
  }

  &--secondary-result {
    width: 100%;
    color: $nav-text-color;
    background-color: #fff;
    border: 1px solid $nav-text-color;
    &:hover {
      background-color: #f2f2f2;
    }
  }

  &--explore {
    min-width: 229px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px;
    color: $nav-text-color;
    background-color: #fff;
    border: 1px solid $nav-text-color;
    &:hover {
      background-color: #f2f2f2;
    }
  }

  &__text {
    @include smallest-mobile {
      display: block;
      transform: translateY(-28%);
    }
  }
}
